# dependencies
/node_modules
/**/node_modules
/**/package-lock.json
/**/yarn.lock
/**/pnpm-lock.yaml

# editor
.idea
.vscode
/**/.ide
/**/.vscode*
/**/.cache

# misc
.DS_Store

# logs
/*.log
/npm-debug.log*
/yarn-error.log
junit.xml
